In [1]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

/anaconda3/lib/python3.6/site-packages/matplotlib/font_manager.py:278: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [6]:
s = pd.Series([1,3,5,np.nan,6,8])

In [7]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range('20130101', periods=6)

In [9]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [12]:
df

                   A         B         C         D
2013-01-01 -0.099667  0.955931  1.350613  0.080553
2013-01-02 -2.295758 -1.144055  0.954259  1.548194
2013-01-03  0.094610  0.887100  0.647132 -0.799254
2013-01-04 -0.188784 -1.067991 -0.122044 -0.162833
2013-01-05 -0.095942 -1.691656 -1.248282 -0.143519
2013-01-06  0.484318  0.096082  0.623855  0.842673

In [13]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [14]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [15]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [16]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-16-915637deb483>, line 1)

In [17]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [18]:
df.head()

                   A         B         C         D
2013-01-01 -0.099667  0.955931  1.350613  0.080553
2013-01-02 -2.295758 -1.144055  0.954259  1.548194
2013-01-03  0.094610  0.887100  0.647132 -0.799254
2013-01-04 -0.188784 -1.067991 -0.122044 -0.162833
2013-01-05 -0.095942 -1.691656 -1.248282 -0.143519

In [19]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.188784 -1.067991 -0.122044 -0.162833
2013-01-05 -0.095942 -1.691656 -1.248282 -0.143519
2013-01-06  0.484318  0.096082  0.623855  0.842673

In [20]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.values

array([[-0.09966682,  0.95593117,  1.35061334,  0.08055341],
       [-2.29575773, -1.14405519,  0.95425857,  1.54819353],
       [ 0.09461001,  0.88710034,  0.64713212, -0.79925385],
       [-0.18878355, -1.06799136, -0.12204389, -0.16283251],
       [-0.0959419 , -1.69165643, -1.24828212, -0.14351905],
       [ 0.48431777,  0.09608159,  0.62385484,  0.84267301]])

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.350204 -0.327432  0.367589  0.227636
std    0.983152  1.129414  0.927913  0.835284
min   -2.295758 -1.691656 -1.248282 -0.799254
25%   -0.166504 -1.125039  0.064431 -0.158004
50%   -0.097804 -0.485955  0.635493 -0.031483
75%    0.046972  0.689346  0.877477  0.652143
max    0.484318  0.955931  1.350613  1.548194

In [24]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.099667   -2.295758    0.094610   -0.188784   -0.095942    0.484318
B    0.955931   -1.144055    0.887100   -1.067991   -1.691656    0.096082
C    1.350613    0.954259    0.647132   -0.122044   -1.248282    0.623855
D    0.080553    1.548194   -0.799254   -0.162833   -0.143519    0.842673

In [25]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05 -0.095942 -1.691656 -1.248282 -0.143519
2013-01-02 -2.295758 -1.144055  0.954259  1.548194
2013-01-04 -0.188784 -1.067991 -0.122044 -0.162833
2013-01-06  0.484318  0.096082  0.623855  0.842673
2013-01-03  0.094610  0.887100  0.647132 -0.799254
2013-01-01 -0.099667  0.955931  1.350613  0.080553

In [26]:
df['A']

2013-01-01   -0.099667
2013-01-02   -2.295758
2013-01-03    0.094610
2013-01-04   -0.188784
2013-01-05   -0.095942
2013-01-06    0.484318
Freq: D, Name: A, dtype: float64

In [27]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.099667  0.955931  1.350613  0.080553
2013-01-02 -2.295758 -1.144055  0.954259  1.548194
2013-01-03  0.094610  0.887100  0.647132 -0.799254

In [28]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -2.295758 -1.144055  0.954259  1.548194
2013-01-03  0.094610  0.887100  0.647132 -0.799254
2013-01-04 -0.188784 -1.067991 -0.122044 -0.162833

In [29]:
df.loc[dates[0]]

A   -0.099667
B    0.955931
C    1.350613
D    0.080553
Name: 2013-01-01 00:00:00, dtype: float64

In [30]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.099667  0.955931
2013-01-02 -2.295758 -1.144055
2013-01-03  0.094610  0.887100
2013-01-04 -0.188784 -1.067991
2013-01-05 -0.095942 -1.691656
2013-01-06  0.484318  0.096082

In [31]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -2.295758 -1.144055
2013-01-03  0.094610  0.887100
2013-01-04 -0.188784 -1.067991

In [32]:
df.loc['20130102',['A','B']]

A   -2.295758
B   -1.144055
Name: 2013-01-02 00:00:00, dtype: float64

In [33]:
df.loc[dates[0],'A']

-0.09966681957092964

In [34]:
df.at[dates[0],'A']

-0.09966681957092964

In [35]:
df.iloc[3]

A   -0.188784
B   -1.067991
C   -0.122044
D   -0.162833
Name: 2013-01-04 00:00:00, dtype: float64

In [36]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.188784 -1.067991
2013-01-05 -0.095942 -1.691656

In [37]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -2.295758  0.954259
2013-01-03  0.094610  0.647132
2013-01-05 -0.095942 -1.248282

In [38]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -2.295758 -1.144055  0.954259  1.548194
2013-01-03  0.094610  0.887100  0.647132 -0.799254

In [39]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.955931  1.350613
2013-01-02 -1.144055  0.954259
2013-01-03  0.887100  0.647132
2013-01-04 -1.067991 -0.122044
2013-01-05 -1.691656 -1.248282
2013-01-06  0.096082  0.623855

In [41]:
df[df.A > 0]

                   A         B         C         D
2013-01-03  0.094610  0.887100  0.647132 -0.799254
2013-01-06  0.484318  0.096082  0.623855  0.842673

In [42]:
df2 = df.copy()

In [43]:
df2['E'] = ['one', 'one']

ValueError: Length of values does not match length of index